<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<style type="text/css">
    header{
        background-color: #E6E9EA ;
        height: 30px;
        padding: 10px;
        line-height: 30px;
        text-align: center;
        /* position: fixed; */
        width: 100%; 
    }
    body{
        text-align: center;
        height: 10px;
    }

</style>
<body>
    <header>
    <div>歡迎光臨，這是會員頁</div>
    </header>
    <input type="hidden"  id="my_variable" value="{{ name }}">
    <div id="title">{{ name }}，歡迎您登入系統</div>
    <a href="/signout">登出系統</a>
    <hr>
    <div>查詢會員姓名</div>
    <div>
        <input type="text"  name="username" id="searchContent">
        <button  onclick="search()">查詢</button>
        <div id="dataDisplay"></div>
    </div>
    <hr>
    <div>更改我的姓名</div>
    <div>
        <input type="text"  name="changeUsername" id="changeContent">
        <button  onclick="change()">更新</button>
        <div id="changeResult"></div>
    </div>
</body>

<script type="text/javascript">

// 改名
function change(){
    var reqChange=new XMLHttpRequest();
    var changeContent=document.getElementById("changeContent").value;
    reqChange.open("post","/api/user");
    reqChange.setRequestHeader('Content-Type','application/json;charset=UTF-8');
    reqChange.onload=function(){
        var changeReturn=JSON.parse(this.responseText);
        var changeResult=document.getElementById("changeResult");
        if(changeReturn["ok"]=="true"){
            changeResult.textContent="更新成功";
            var title=document.getElementById("title")
            title.textContent=changeContent+"，歡迎您登入系統"
        }else{
            changeResult.textContent="更新失敗";
        }
    };
    reqChange.send(JSON.stringify({"name":changeContent}));
};



// 查詢
function search(){   
    var req=new XMLHttpRequest();
    var username=document.getElementById("searchContent").value;
    req.open("get","/api/users?username="+username);
    req.onload=function(){
        dataDisplay=document.getElementById("dataDisplay");
        var searchResult=JSON.parse(this.responseText);
        // 查詢回傳的Data是否有資料
        if (searchResult["data"]==null){
            dataDisplay.textContent="查無此會員";
            console.log("no");
        }else{
            text=searchResult["data"]["name"]+" ("+searchResult["data"]["username"]+")";
            dataDisplay.textContent=text;
            console.log("yes");
            };    
    };
    req.send();   
};



</script>
</html>