<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<style type="text/css">
    header{
        background-color: #E6E9EA ;
        height: 30px;
        padding: 10px;
        line-height: 30px;
        text-align: center;
        width: 100%; 
    }
    body{
        text-align: center;
    }

    button{
        margin: 10px;
    }

    .title{
        margin: 5px;
    }

</style>
<body>
    <header>
    <div>歡迎光臨，請註冊登入系統</div>
    </header>

    <div class="title">註冊帳號</div>
    <form action="/signup" method="POST">
        <div>姓名: <input type="text" name="signup_name"></div>
        <div>帳號: <input type="text" name="signup_account"></div>
        <div>密碼: <input type="password" name="signup_password"></div>
        <button>註冊</button>
    </form>

<hr>
    <div class="title">登入系統</div>
    <form action="/signin" method="POST">
        <div>帳號: <input type="text" name="signin_account"></div>
        <div>密碼: <input type="password" name="signin_password"></div>
        <button>登入</button>
    </form>
</body>
</html>